<!doctype html>
<html>
  <head>
    <!--this is a comment --> 
    <meta charset = "utf-8">
    <title>HTML/CSS Introduction</title>
  </head>
  <body>
    <header> My Header </header>
    <nav>
      <a href = "/">Home Page</a>
      <a href = "/dogs">Dogs Page</a>
      <a href = "/cats">Cats Page</a>
      <a href = "/ninjas">Ninja Page</a>
      <a href = "/pirates">Pirate Page</a>
    </nav>
    <h1>My Header </h1>
    <article>
      <h2>Toy Story </h2>
      <p>Toy story is a really funny movie!</p>
      <img src="http://fotos.starmedia.com/imagenes/2012/11/Toy-Story-3-Aliens.jpg">
      <object width="420" height="315"><param name="movie" value="//www.youtube.com/v/5G0j_Huv2Fg?hl=en_US&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/5G0j_Huv2Fg?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
      <h2>Article Header</h2>
      <a href="http://toystory.disney.com">Toy Story Website</a>
      <p>This is my paragraph</p>
    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6 </strong></small>
      </footer>
  </body>

</html>
