
<!doctype html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Ninjas</title>
  </head>
  <body>
    <header> All About Ninjas</header>
    <nav>
      <a href = "/">Home Page</a>
      <a href = "/dogs">Dogs Page</a>
      <a href = "/cats">Cats Page</a>
      <a href = "/ninjas">Ninja Page</a>
      <a href = "/pirates">Pirate Page</a>
    </nav>
    <article>
      <img src="/images/ninja.png">
      <img src="/images/ninja1.png">
      <img src="/images/ninga2.png">
    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6 </strong></small>
      </footer>
  </body>

</html>
